.img {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
    margin:3px;
    margin-right: 4px;

}

.ItalyFlag {
    background-image: url('./../img/ItalyFlag.jfif');
}

.ColombiaFlag {
    background-image: url('./../img/ColombiaFlag.jfif')
}

.GermanyFlag {
    background-image: url('./../img/GermanyFlag.jfif')
}